.stages {
    padding-left: 120px;
    padding-right: 120px;
    background: #2D2D2D;
    box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.3);
    height: 800px;
    h2 {
        padding-top: 63px;
        text-align: center;
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__numbers-wrapper {
        position: relative;
        margin-left: 117px;
        margin-right: 130px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        &:before {
            content: '';
            position: absolute;
            width: 920px;
            height: 1px;
            top: 170px;
            right: 5px;
            transform: translateY(100%);
            background-color:#FFFFFF;
        }
    }
    &__numbers {
        position: relative;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 117px;
        background: linear-gradient(92.55deg, #DB9225 0%, #AE3F00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        }
        &__circle-wrapper {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            margin-left: 115px;
            margin-right: 130px;
            margin-top: 41px;
            background: #2D2D2D;
            svg {
                position: relative;
            }
        }
    &__block {
        width: 250px;
        margin-top: 50px;
        // margin-left: 100px;
        h3 {
            text-align: center;
            margin-top: 70px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
    }
    img {
        margin-left: 70px;
    }
    }
    &__text {
        margin-top: 64px;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        }
    &__block-wrapper {
        display: flex;
        justify-content:space-around;
    }
    &__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
}